<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">
</head>
<body>


<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <nav>
                        {% block nav %}
                        {% endblock %}
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


</body>
</html>