{% extends 'base.html' %}

{% block nav %}

    {% if user.is_authenticated %}
        <ul class="nav masthead-nav">
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    {% endif %}

{% endblock %}


{% block content %}

    {% if not user.is_authenticated %}
        <a class="btn btn-lg btn-info" href="{% url 'social:begin' 'facebook' %}">Войти через Facebook</a>
    {% else %}

        <div class="inner">
            <p class="lead">Привет, {{ user.username }}</p>
            <button class="btn btn-lg btn-info" id="btnSubmit">Мои топ5 тегов</button>
            <div class="inner">
                <img id="tags_image" src="" alt="">
            </div>
            <p class="lead">последний ответ в : <span id="time"></span></p>

        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>
            $(document).ready(function () {
                var webSocket = new WebSocket('ws://' + window.location.host);
                webSocket.onmessage = function (message) {
                    var data = JSON.parse(message.data)
                    var src = "data:image/jpg;base64," + data.image;
                    $('#tags_image').attr('src', src);
                    $('#time').text(data.time);
                };
                $('#btnSubmit').click(function (e) {
                    webSocket.send('generate_image')
                })
            })
        </script>

    {% endif %}

{% endblock %}
